/* Regole debug */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


/* Regole header e container */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.main-header {
    background-color: aquamarine;
    padding: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: space-between;
    padding: 10px;
}


/* Regole Main */
.section {
    padding: 40px;
}

.download-section {
    background-color: pink;
    max-width: 800px;
    margin: 0 auto;  
}

.download-bkg {
    background-color: rgb(55, 113, 201);
}

.bkg {
    background-color: lightgrey;
}

.board {
    height: 800px;
    background-color: rgb(6, 214, 6);
}

/* Regole Flex */
.flex {
    display: flex;
}


.row-reverse {
    flex-direction: row-reverse;
}

.flex-item-sx{
    background-color: aquamarine;
    flex-basis: 60%;
}

.flex-item-dx {
    background-color: violet;
    flex-basis: 40%;
}


/* Regole Footer */
footer {
    background-color: rgb(66, 66, 66);
}


.footer-item {
    background-color: aqua;
    flex-grow: 1;
}

.footer-item-large {
    flex-grow: 2;
    background-color: bisque;
}

.footer-section {
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.footer-nav {
    background-color: aqua;
    justify-content: space-between;
    padding: 10px;
}

.footer-button {
    background-color: salmon;
    padding: 5px;
}

/* Regole Debug */

* {
    border: 2px dashed black;
}

.footer-info {
    height: 450px;
}

.row, .row-reverse {
    height: 400px;
}

.download-section {
    height: 300px;
}
