/* Regole reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

ul, li, main{
    list-style-type: none;
}


/* Regole header e container */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.main-header {
    background-color: aquamarine;
    padding: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    /* justify-content: space-between; */   
}

.main-nav .main-menu {
    flex-grow: 1;
}


/* Regole Main */

.download-section {
    background-color: pink;
    max-width: 800px;
    margin: 0 auto;  
}

.download-bkg {
    background-color: rgb(55, 113, 201);
}

.bkg {
    background-color: lightgrey;
}

.board {
    height: 800px;
    background-color: rgb(6, 214, 6);
}

/* Flex */

.flex {
    display: flex;
}

/* Regole Flex main item
 */
.row-reverse {
    flex-direction: row-reverse;
}

.flex-item-sx{
    background-color: aquamarine;
    flex-basis: 60%;
}

.flex-item-dx {
    background-color: violet;
    flex-basis: 40%;
}


/* Regole Footer */

footer {
    background-color: rgb(66, 66, 66);
}


.footer-item {
    background-color: aqua;
    /* flex-grow: 1; */
    flex-basis: calc(100% / 6);
}

.footer-item-large {
    flex-grow: 2;
    flex-basis: calc(100% / 3);
    background-color: bisque;
}

.footer-section {
    border-top: 1px solid lightgray;
    padding-top: 20px;
}


.footer-button {
    background-color: salmon;
    padding: 5px;
}

/* Regole Debug */

.debug .container {
    border: 2px solid salmon;
}

.debug .main-nav *{
    border: 2px solid blue;
    padding: 20px;
}

.section {
    border: 2px solid salmon;
    padding-top: 30px;
    padding-bottom: 30px;
}

.download-section {
    border: 2px solid chartreuse;
    height: 300px;
}

.footer-info {
    height: 450px;
}

.footer-nav {
    background-color: aqua;
    justify-content: space-between;
    padding-top: 10px;
}

.row, .row-reverse {
    height: 400px;
}

.footer-main-section {
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-section {
    border: 2px solid salmon;
    padding-top: 20px;
}

.board {
    height: 800px;
    background-color: rgb(6, 214, 6);
}
