/* Regole reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

ul, li, main{
    list-style-type: none;
}

footer li {
    padding-top: 15px;
    font-size: 15px;
    color: white;
}

footer h4, footer h2 {
    color: #3d61e2;
}

h1:first-of-type{
    font-size: 50px;
    font-weight: bolder;
 }

 p {
    font-size: 20px;
 }

a {
    text-decoration: none;
    cursor: pointer;
    color: white;  
 }


 /* Regole Container */


 .container {
    max-width: 1300px;
    margin: 0 auto;
}


/* button style */

.button-style {
    background-color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
}

.login-button, .mac-button {
    color: black;
}

.main-button {
    justify-content: space-evenly;
}

.mac-button::before, .mac-button-blue::before{
    content: '\2193';
}

.mac-button-blue {
    background-color: #3d61e2;
    color: white;
}


.browser-button {
    background-color: #333;
    color: white;
}

.star-button {
    margin: 0 auto;
}

.star-button h2{
    background-image: url(../img/stars.svg);
    background-size: contain;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}


/* Regole header*/


.main-header {
    padding: 10px;
    background-color: #3d61e2;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center; 
}

.nav-list {
    color: white;
    gap: 20px;
}


/* Regole Main */

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.download-section {
    color: white;
    height: 400px;
    max-width: 800px;
    margin: 0 auto;  
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}


.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.board h1{
    margin-bottom: 20px;
}


/* Flex */

.flex {
    display: flex;
}

 .row {
    justify-content: space-between;
 }

.row-reverse {
    flex-direction: row-reverse;
}

.flex-item-sx {
    flex-basis: 60%;
}

.flex-item-dx {
    flex-basis: 40%;
    flex-direction: column;
    justify-content: space-evenly;
}

.board {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 100px;
}


/* Regole Footer */

footer {
    background-color: rgb(66, 66, 66);
    padding-top: 50px ;
}


.footer-item {
    /* flex-grow: 1; */
    flex-basis: calc(100% / 6);
}

.footer-item-large {
    flex-grow: 2;
    flex-basis: calc(100% / 3);
}

.ita-flag {
    width: 20px;
    height: 15px;
    vertical-align: middle;
}

.footer-item-large span:nth-child(1)::after{
    content: ' \25bc';
}

.footer-section {
    padding-top: 10px;
    padding-bottom: 20px;
}


.footer-button {
    background-color: salmon;
    padding: 5px;
}

.ico {
    width: 40px;
    height: 40px;
    /* cursor: pointer; */
}

.list-col {
    flex-direction: column;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color: white;  
 }

.footer-contact {
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

.button-nav-footer {
    background-color: #3d61e2;
}

.footer-nav {
    justify-content: space-between;
}

